process {
    cpus   = 1
    memory = 4.GB
    time   = 4.h

    errorStrategy = { task.exitStatus in [137, 140, 143, 247] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel: process_low {
        cpus   = 2
        memory = 6.GB
        time   = 4.h
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 24.GB
        time   = 8.h
    }
    withLabel: process_high {
        cpus   = 16
        memory = 64.GB
        time   = 48.h
    }
}
