// Plant Genome Portal - orthology pipeline
//
// Inputs:
//   --genomes    CSV genome manifest
//   --outdir     Output directory (default: results/orthology)

manifest {
    name            = 'plant-genome-portal/orthology'
    author          = 'plant-genome-portal'
    description     = 'Orthogroup inference pipeline (proteome normalization + OrthoFinder + portal TSV export)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0'
}

params {
    genomes          = null
    outdir           = 'results/orthology'

    python_container = 'python:3.12-slim'
    orthofinder_container = 'quay.io/biocontainers/orthofinder:2.5.5--hdfd78af_1'

    orthofinder_extra_args = ''
    publish_dir_mode = 'copy'
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        singularity.enabled    = false
        podman.enabled         = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
    }
    test {
        includeConfig 'conf/test.config'
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}
